.card-img-top-20 {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    @media (max-width: 575.98px) {
        height: 60vw;
    }
}

.embed-responsive .card-img-top {
    object-fit: cover;
    min-height: 350px;
}
